/*
    Autor: Angel Salvador
    @angelsalvadormx
*/

.btn-animation{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: 3px solid;
    overflow: hidden;
}

.btn-animation::after,
.btn-animation::before{
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 1 !important;
}
.btn-animation::after{
    z-index: -1;
    top: 0;
    left: 0;
}
/* fist action animation (hover)*/
/* secund kind animation (full)*/
/* secund direfent kind animation (hor)*/


.btn-hover-full::after{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.btn-hover-full:active::after,
.btn-hover-full:hover::after{
    opacity: 1;
}

.btn-hover-top:after{
    width: 100%;
    height: 0%;
  
}
.btn-hover-top:active::after,
.btn-hover-top:hover::after{
    height: 100%;
}

.btn-hover-left:after{
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
}
.btn-hover-left:active:after,
.btn-hover-left:hover:after{
    width: 100%;
}

.btn-hover-slash::after{
    width: 100%;
    height: 0;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-hover-slash:active::after,
.btn-hover-slash:hover::after{
    height: 260%;
    opacity: 1;
}

.btn-hover-center-hor::after{
    width: 0;
    height: 100%;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.btn-hover-center-hor:active::after,
.btn-hover-center-hor:hover::after{
    width: 90%;
    opacity: 1;
}

.btn-hover-center-ver:after{
    width: 100%;
    height: 0;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn-hover-center-ver:active:after,
.btn-hover-center-ver:hover:after{
    opacity: 1;
    height: 75%;
}
.btn-ar-oL::before,
.btn-ar-cL::before,
.btn-ar-cR::before,
.btn-ar-oR:before{
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.btn-ar-oL,
.btn-ar-oR{
    overflow: hidden;
}
.btn-ar-oR:before{
    right: -50%;        
}
.btn-ar-oR:active::before,
.btn-ar-oR:hover::before{
    right: 12%;
}

.btn-ar-cR::before{
    right: 20%;
    opacity: 0;
}
.btn-ar-cR:active:before,
.btn-ar-cR:hover::before{
    right: 12%;
    opacity: 1;
}

.btn-ar-oL::before{
    left: -20%;
}
.btn-ar-oL:active:before,
.btn-ar-oL:hover:before{
    left: 12%;
}
.btn-ar-cL::before{
    left: 20%;
    opacity: 0;
}
.btn-ar-cL:active::before,
.btn-ar-cL:hover::before{
    left: 12%;
    opacity: 1;
}

.btn-actn-left::before,
.btn-actn-top::before{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
    height: 100%;
    top: 0;
}
.btn-actn-top::before{
    left: 0;
    top: -100%;
}

.btn-actn-top > span,
.btn-actn-left > span{
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: all 0.3s;
}
.btn-actn-top > span {
    transform: translateY(0);
}
.btn-actn-top:active > span,
.btn-actn-top:hover > span{
    transform: translateY(300%);
}
.btn-actn-top:active::before,
.btn-actn-top:hover::before{
    top: 0;
}

.btn-actn-left > span{
    transform: translateX(0);
}
.btn-actn-left:active > span,
.btn-actn-left:hover > span{
    transform: translateX(300%);
}
.btn-actn-left::before{
    left: -100%;
}
.btn-actn-left:hover::before{
    left: 0;
}
.btn-splash:hover{
    background: rgba(255,255,255,0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}
.btn-splash-r,
.btn-splash{
    position: relative;
    overflow:visible !important;
    background: rgba(255,255,255,0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}
.btn-splash-r::before,
.btn-splash::before{
    top: 50%;
	left: 50%;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
    transform: translate(-50%,-50%) scale(0.9);
    position: absolute;
	width: 100%;
	height: 100%;
	content: '';
}
.btn-splash-r::before{
    border-radius: 50%;
}
.btn-splash-r:active,
.btn-splash-r:hover,
.btn-splash:active,
.btn-splash:hover{
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
}
.btn-splash-r:hover::before,
.btn-splash-r:active::before,
.btn-splash:active::before,
.btn-splash:hover::before{
    -webkit-animation: splashEffect 1.3s ease-out 75ms;
	-moz-animation: splashEffect 1.3s ease-out 75ms;
	animation: splashEffect 1.3s ease-out 75ms;
}
@keyframes splashEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		transform: translate(-50%,-50%) scale(1.3);
		opacity: 0;
	}
}