@media screen and (min-width:1230px){
  #btns-hover main{
    width: 80%;
  }
}

@media screen and (max-width:1274px) and (min-width:972px){
  #btns-arrows button{
    margin: 10px 10px;
  } 
}

@media screen and (max-width:990px) and (min-width:100px){
  #btns-actinos{
    justify-content: center;
  }
  #btns-actinos > main {
    width: 90%;
  }
  #btns-actinos > main button:nth-child(1){
    order: 1;    
  }
  #btns-actinos > main button:nth-child(4){
    order: 2;
  }
  #btns-actinos > main button:nth-child(3){
    order: 3
  }
  #btns-actinos > main button:nth-child(6){
    order: 4;
  }
  #btns-actinos > main button:nth-child(2){
    order: 5;
  }
  #btns-actinos > main button:nth-child(5){
    order: 6
  }
}

@media screen and (max-width:774px){
  #btns-actinos > main {
    width: 70%;
  }
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width:546px){
  #btns-actinos > main{
    width: 100%
  }
  #btns-actinos > main button{
    margin-right: 0;
    margin-left: 0;
  }
   #installation main{
    overflow: hidden;
  }
  #installation .codeToCopy{
    min-width: 800px;
  }
}
@media screen and (max-width:470px){

  #installation .copy:after{
    top: -4px;
    right: 44px;
  }
}
@media screen and (max-width:378px){
  #installation > article > main{
    padding: 20px 1em;
  }
  #installation .copy{
    top: 5px;
  }
  .btn-animation{
    margin-right: 0;
    margin-left: 0
  }
}