/*
    Autor: Angel Salvador
    @angelsalvadormx
*/

.btn-animation{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
}

.btn-animation::after{
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* fist action animation (hover)*/
/* secund kind animation (full)*/
/* secund direfent kind animation (hor)*/

.btn-hover-top,
.btn-hover-left,
.btn-hover-slash,
.btn-hover-center-hor,
.btn-hover-center-ver,
.btn-hover-full{
    border: 3px solid;
}

.btn-hover-full::after{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    opacity: 0;
}
.btn-hover-full:hover::after{
    opacity: 1;
}

.btn-hover-top:after{
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
}
.btn-hover-top:hover::after{
    height: 100%;
}
.btn-hover-left:hover{}
.btn-hover-slash:hover{}
.btn-hover-center-hor:hover{}
.btn-hover-center-ver:hover{}


