/*
    Autor: Angel Salvador
    @angelsalvadormx
*/

/* fist border color (white)*/
/* secund background color (blue)*/

.btn-white-blue{
    border-color: #FFF;
    color: #FFF;
    background-color: #0e83cd;
}
.btn-white-blue:hover{
    color: #0e83cd;
}
.btn-white-blue:hover::after{
    background-color: #FFF;
}